<% if(typeof err != 'undefined'){ %>
<% err.forEach(function(error) { %>
<div class=" alert fade show showMsg msgBox msgWarning" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <i class="far fa-times-circle"></i>
    </button>
    <div dir="rtl">
        <%= error.msg %>
    </div>

</div>
<% })} %>

<% if(success_msg != ''){ %>
<div class="alert fade show showMsg msgBox msgSuccess" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <i class="far fa-times-circle"></i>
    </button>
    <div dir="rtl">
        <%= success_msg %>
    </div>

</div>
<% } %>


<% if(error_msg != ''){ %>
<div class="alert fade show showMsg msgBox msgDanger" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <i class="far fa-times-circle"></i>
    </button>
    <div dir="rtl">
        <%= error_msg %>
    </div>

</div>
<% } %>


<% if(error != ''){ %>
<div class="alert fade show showMsg msgBox msgDanger" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <i class="far fa-times-circle"></i>        
    </button>
    <div dir="rtl">
        <%= error %>
    </div>
</div>
<% } %>