<% if(typeof err != 'undefined'){ %>
<% err.forEach(function(error) { %>
<div class="alert alert-warning alert-dismissible fade show showMsg clsErorre msgErorre " role="alert">
    <%= error.msg %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<% })} %>

<% if(success_msg != ''){ %>
<div class="alert alert-warning alert-dismissible fade show showMsg clsSuccess msgSucces" role="alert">
    <%= success_msg %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<% } %>


<% if(error_msg != ''){ %>
<div class="alert alert-danger alert-dismissible fade show showMsg clsDanger msgDanger" role="alert">
    <%= error_msg %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<% } %>


<% if(error != ''){ %>
<div class="alert alert-danger alert-dismissible fade show showMsg clsDanger msgDanger" role="alert">
    <%= error %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<% } %>