<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/msgBox.css" />
    <script src="https://kit.fontawesome.com/bc1633d907.js"></script>

    <title></title>

</head>

<body>

    <!-- <div class="statusLoad col-md-10"></div> -->
    <div id="clickPnl">
        <div class="headerIndex col-md-12 text-center text-secondary ">
            <div id="infoLogin" dir="rtl" class="col-4">
                <i style="font-size: 25px" class="text-white fas fa-user mr-3"></i>&nbsp;
                <label id="lblName" class="text-white"> ورود - ثبت نام </label>
            </div>
        </div>
        <div id="pnlLogin" class="panelLogin p-0">
            <div id="formLogin" class="d-flex align-items-center flex-column">
                <form action="/api/login" method="POST" dir="rtl" class="d-flex align-items-center flex-column">

                    <div class="col-md-12 pb-2">
                        <label class="text-right col-md-12" for="userName">نام کاربری</label>
                        <input type="text" class="form-control is-valid textboxSite" name="userName" id="userName"
                            placeholder="نام کاربری" required>
                    </div>

                    <div class="col-md-12 pb-2">
                        <label class="text-right col-md-12" for="password">رمز عبور</label>
                        <input type="password" class="form-control is-valid textboxSite" name="password" id="password"
                            placeholder="رمز عبور" required>
                    </div>

                    <div class="col-12 d-flex row justify-content-around">
                        <button dir="ltr" type="submit" id="btn_submit" class="col-12 btnSite btnSiteBlue">ورود
                            <i class="fas fa-sign-in-alt"></i>
                        </button>
                    </div>

                </form>
                <button data-toggle="modal" data-target=".bd-example-modal-lg" class="col-10 ml-3 btnSite btnSiteBlue">ثبت نام
                    <i class="fas fa-user-plus"></i>
                </button>

            </div>

            <div id="ShowInfo" class="align-items-start flex-column text-center p-0 m-0">
                <a class="col-md-12 bg-warning p-2" id="fullName" hidden></a>
                <a class="col-md-12 p-2 miniPnl" href="/api/general/profile">نمایش پروفایل
                    <i class="fas fa-address-card"></i></a>
                <a class="col-md-12 p-2 miniPnl" href="/api/logout">خروج
                    <i class="fas fa-sign-out-alt"></i></a>
            </div>

        </div>
    </div>


    <!--...................................................................................................................
............................................FORM REGISTER.......................................................................
................................................................................................................... -->
    <!-- <form action="/newaccount" method=post
        oninput='up2.setCustomValidity(up2.value != up.value ? "Passwords do not match." : "")'>
        <p>
            <label for="username">E-mail address:</label>
            <input id="username" type=email required name=un>
            <p>
                <label for="password1">Password:</label>
                <input id="password1" type=password required name=up>
                <p>
                    <label for="password2">Confirm password:</label>
                    <input id="password2" type=password name=up2>
                    <p>
                        <input type=submit value="Create account">
    </form> -->


    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">

                    <h5 class="modal-title" id="exampleModalCenterTitle">ثبت نام </h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>

                <form class="needs-validation p-3" action="/api/register" method="POST" dir="rtl"
                    oninput='confirmPassword.setCustomValidity(confirmPassword.value != passwordRe.value ? "Passwords do not match." : "")'
                    novalidate>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label for="firstName" class="text-right col-12">نام</label>
                            <input type="text" class="form-control textboxSite" id="firstName" name="firstName"
                                placeholder="نام" required>
                            <!-- <div class="valid-feedback">
                                Looks good!
                            </div> -->
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="lastName" class="text-right col-12">نام خانوادگی</label>
                            <input type="text" class="form-control textboxSite" id="lastName" name="lastName"
                                placeholder="نام خانوادگی" required>
                            <!-- <div class="valid-feedback">
                                Looks good!
                            </div> -->
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="userNameRe" class="text-right col-12">نام کاربری</label>

                            <input type="text" class="form-control textboxSite" id="userNameRe" name="userNameRe"
                                placeholder="نام کاربری" aria-describedby="inputGroupPrepend" required>
                            <!-- <div class="invalid-feedback">
                                Please choose a username.
                            </div> -->
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label for="phone" class="text-right col-12">شماره تلفن</label>
                            <input type="number" class="form-control textboxSite" id="phone" name="phone"
                                placeholder="شماره تلفن" required>
                            <!-- <div class="valid-feedback">
                                Looks good!
                            </div> -->
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="passwordRe" class="text-right col-12">رمز عبور</label>
                            <input type="password" class="form-control textboxSite" name="passwordRe" id="passwordRe"
                                placeholder="رمز عبور" required>
                            <!-- <div class="valid-feedback">
                                Looks good!
                            </div> -->
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="confirmPassword" class="text-right col-12">تایید رمز عبور</label>

                            <input type="password" class="form-control textboxSite" name="confirmPassword"
                                id="confirmPassword" placeholder="تایید رمز عبور" aria-describedby="inputGroupPrepend"
                                required>
                            <!-- <div class="invalid-feedback">
                                Please choose a username.
                            </div> -->
                        </div>
                    </div>
                    <div class="d-flex row justify-content-center col-12 text-center">
                        <div class="custom-control custom-radio m-2">
                            <input type="radio" id="gender" value="male" name="gender" class="custom-control-input"
                                required>
                            <label class="custom-control-label" for="gender">مرد</5bel>
                        </div>
                        <div class="custom-control custom-radio m-2">
                            <input type="radio" id="gender2" value="woman" name="gender" class="custom-control-input"
                                required>
                            <label class="custom-control-label" for="gender2">زن</label>
                        </div>
                    </div>
                    <div class="modal-footer col-12 align-items-center ">
                        <button type="button" class="btnSite btn-secondary m-2" data-dismiss="modal">انصراف</button>
                        <button type="submit" class="btnSite btn-primary m-2">ثبت نام</button>
                    </div>
                </form>
                <script>

                </script>
            </div>
        </div>
    </div>

    <div class="col-md-12 p-0 m-0 d-flex row mt-3 ">

        <% include ./partials/messages  %>

        <div class="col-md-9 pt-5">

            <div class="main col-12 p-0">
                <%- body %>
            </div>
        </div>

        <div id="pnlSearch" class="col-md-3 pt-5 ">
            <div class="searchPanel col-12 bg-white p-5">
            </div>
        </div>
    </div>

    <script src="/javascripts/jquery-3.4.1.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/javascripts/layout.js"></script>

</body>

</html>